.wrapper {
  min-height: 80vh;
  @media screen and (max-width: 768px) {
    margin-top: 3rem;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.img {
  width: 300px;
  align-self: center;
  @media screen and (max-width: 768px) {
    width: 250px;
  }
  @media screen and (max-width: 425px) {
    width: 150px;
  }
}

.headline {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  padding: 15px 0;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    font-size: 25px;
    padding: 10px 0;
    max-width: 80%;
  }
}

.mainText {
  width: 50%;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin: 25px auto;
  @media screen and (max-width: 768px) {
    font-size: 16px;
    margin: 10px auto;
    width: 70%;
  }
}

.links {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  align-items: center;
  justify-content: space-around;
  @media screen and (max-width: 768px) {
    padding: 5px 0;
  }
}

.link {
  background-color: rgb(198, 221, 255);
  border: 1px solid black;
  min-width: 250px;
  border-radius: 15px;
  padding: 1rem;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 1rem;
  &:hover {
    outline: 3px solid rgb(146, 49, 49);
  }
  @media screen and (max-width: 768px) {
    min-width: 200px;
    padding: 0.5rem;
    font-size: 16px;
    margin-bottom: 0.5rem;
  }
}
