.quizBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.title {
  font-size: 30px;
  align-items: center;
  padding-bottom: 0.5rem;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.box {
  background-color: rgba(159, 151, 151, 0.258);
  border-radius: 25px;
  min-height: 50vh;
  width: 60vw;
  padding: 1.5rem;
  @media (max-width: 768px) {
    width: 100vw;
  }
}

.question {
  padding: 0.5rem 0;
  text-align: center;
  font-size: 23px;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.options {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.option {
  min-height: 35px;
  border-radius: 5px;
  width: 100%;
  margin: 7px 0;
  background-color: rgb(255, 255, 255);
  text-align: start;
  padding: 3px 0 3px 1rem;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.selectedOption {
  font-weight: bold;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.63);
}

.correct {
  background-color: rgb(9, 205, 9);
  color: white;
}
.inCorrect {
  background-color: red;
}
.disabledCorrect {
  background-color: rgb(136, 199, 136);
}

.disabledWrong {
  background-color: rgb(215, 140, 140);
}

.buttonsBlock {
  margin: 2rem auto;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.img {
  width: 100%;
  max-width: 800px;
  align-self: center;
  padding: 1rem;
  @media screen and (max-width: 768px) {
    width: 250px;
  }
  @media screen and (max-width: 425px) {
    width: 150px;
  }
}
