.wrapper {
  min-height: 80vh;
  margin-bottom: 3rem;
  @media screen and (max-width: 768px) {
    max-width: 100vw;
    margin-top: 3rem;
  }
}

.content {
  min-height: 100vh;
}

.mainTitle {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  padding: 30px 0;
}

.subtitle {
  width: 60%;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    width: 90%;
    margin-bottom: 10px;
    text-align: justify;
  }
}

.box {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 20px 0;
  }
}

.text {
  margin: -30px 0 15px 0;
  white-space: pre-line;
}

.externalLink {
  color: blue;
  border-bottom: 1px solid blue;
  padding: 1px;
}

.unOrderList {
  list-style-type: none;
}

.header {
  font-weight: 600;
  font-size: 19px;
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}
