.header {
  background: radial-gradient(at bottom, #1a4678, #1cb0b8);
  padding: 20px;
}

.listOfLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leftLinks {
  display: flex;
  flex-direction: row;
}

.navLink {
  color: rgb(232, 246, 248);
  font-weight: 700;
  font-size: 1.2vw;
  cursor: pointer;
  margin: 5px;

  &:hover {
    outline: 3px solid grey;
  }
}
