.header {
  padding: 2% 0;
}

.listOfLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftLinks {
  display: flex;
  flex-direction: row;
}

.img {
  width: 57px;
  height: 47px;
}
