@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(217, 196, 196);
}

a {
  text-decoration: inherit;
  color: inherit;
}
