.wrapper {
  min-height: 130vh;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.img {
  width: 300px;
  align-self: center;
  padding: 20px;
}

.headline {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  padding: 15px 0;
}
.buttonBox {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
