.container {
  background-color: rgb(198, 221, 255);
  border: 1px solid black;
  min-width: 300px;
  border-radius: 15px;
  padding: 15px;
  font-weight: 700;
  font-size: 19px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
  &:hover {
    outline: 3px solid rgb(146, 49, 49);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 25%;
    right: 5%;
    width: 30px;
    height: 30px;
    background-image: url("../../assets/icons/downArrow.svg");
  }
}

.wrapper {
  @media screen and (max-width: 768px) {
    margin-top: 1.5rem;
  }
}
