.container {
  background-color: rgb(198, 221, 255);
  border: 1px solid black;
  min-width: 300px;
  border-radius: 15px;
  padding: 1rem;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 1rem;
  position: relative;
  &:hover {
    outline: 3px solid rgb(146, 49, 49);
  }
  &:last-child {
    margin-bottom: 0;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 25%;
    right: 5%;
    width: 30px;
    height: 30px;
    background-image: url("../../assets/icons/downArrow.svg");
  }
}

.listOfTests {
  margin: 0;
  list-style-type: none;
}
